<!doctype html>
<html>
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">        </head>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
            <nav>
                <div class="nav-wrapper blue">
                  <a href="../index" class="brand-logo">IMS</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="../materials">Materials</a></li>
                    <li><a href="../suppliers">Suppliers</a></li>
                    <li><a href="../orders">Orders</a></li>
                  </ul>
                </div>
              </nav>
              <div class= "container"><br>
                    <a href="../materials" class="btn green">Go Back</a>
                    <ul class="collection">
                            <li class="collection-item"><b>Material id</b><br><%= obj._id%></li>
                            <li class="collection-item"><b>Name</b><br><%= obj.name%></li>
                            <li class="collection-item"><b>State</b><br><%= obj.state%></li>
                            <li class="collection-item"><b>Price</b><br>Rs<%= obj.price%></li>
                            <li class="collection-item"><b>Quantity</b><br><%= obj.qty%></li>
                            <li class="collection-item"><b>Total expense</b><br>Rs&nbsp;<%= obj.price * obj.qty%></li>
                            <li class="collection-item"><b>Created on</b><br><%= obj.created_on%></li>

                            <!-- <% if (obj.image && obj.image.data) { %>
                              <li class="collection-item"><b>Image</b><br>  -->
                                <!-- <img src="<%= 'data:' + obj.image.contentType + ';base64,' + obj.image.data.toString('base64') %>" alt="Material Image"> -->
                                <!-- <img src="data:<%= obj.image.contentType %>;base64,<%= obj.image.data.toString('base64') %>" alt="Material Image">
                              </li>
                                <% } else { %>
                                  <li class="collection-item">Image not available</li>
                                <% } %> -->
                                <!-- <% if (obj.image && obj.image.data) { %>
                                  <li class="collection-item"><b>Image</b><br>
                                      <% var buffer = Buffer.from(obj.image.data, 'base64'); %>
                                      <img src="data:<%= obj.image.contentType %>;base64,<%= buffer.toString('base64') %>" alt="Material Image">
                                  </li>
                              <% } else { %>
                                  <li class="collection-item">Image not available</li>
                              <% } %> -->
                              <% if (obj.imagePath) { %>
                                <li class="collection-item"><b>Image</b><br>
                                    <img src="<%= obj.imagePath %>">
                                </li>
                            <% } else { %>
                                <li class="collection-item">Image not available</li>
                            <% } %>
                  </ul>
              </div>
                  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
    </body>
</html>